@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&family=Open+Sans:wght@500&family=Poppins&display=swap');

.menuFons{
    background-color: #121216 !important;
    box-shadow: 0px 5px 6px -5px #2b3147;
}

.noFonsColor{
    background: none !important;
}

.sidebarColorFons{
    background-color: #191922;
}

.inputBuscar{
    color: white !important;
    font-family: 'Open Sans', sans-serif;
}

.inputBuscar::placeholder{
    color: white !important;
}

.colIcone{
    color: white;
}

.iconaLupa{
    font-size: 1.4em;
    margin-right: 5px;
}

.estilIcones{
    color: white;
    font-size: 1.6em;
}

.mainCFons{
    background-color: #121216;
}

.textSidebar{
    color: #9FE7F5 !important;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 1.2em !important;
}

.textNav{
    margin-top: 3px;
}

.midaIcones{
    font-size: 1.55em;
}

.iconeFlecheta{
    margin-left: auto;
    margin-right: 0;
}

.txtOpcionsUser{
    margin-top: 7px;
    margin-left: 10px;
    font-size: 1.08em;
    font-family: 'Open Sans', sans-serif;
}

.espaiIconeText{
    margin-right: 15px;
}

.iconPers{
    margin-top: 2px;
}