@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&family=Open+Sans:wght@500&family=Poppins&display=swap');

.menuFons{
    background-color: #121216 !important;
    box-shadow: 0px 5px 6px -5px #2b3147;
}

.noFonsColor{
    background: none !important;
}

.sidebarColorFons{
    background-color: #191922;
}

.inputBuscar{
    color: white !important;
    font-family: 'Open Sans', sans-serif;
}

.inputBuscar::placeholder{
    color: white !important;
}

.colIcona{
    color: white;
}

.iconaLupa{
    font-size: 1.4em;
    margin-right: 5px;
    cursor: auto;
}

.estilIcones{
    color: white;
    font-size: 1.6em;
    margin-right: 10px;
}

.mainCFons{
    background-color: #121216;
    padding-bottom: 0.375rem;
}

.textSidebar{
    color: #9FE7F5 !important;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 1.2em !important;
}

.textNav{
    margin-top: 3px;
}

.midaIcones{
    font-size: 1.55em;
}

.iconaFlecheta{
    margin-left: auto;
    margin-right: 0;
}

.txtOpcionsUser{
    margin-top: 7px;
    margin-left: 10px;
    font-size: 1.08em;
    font-family: 'Nunito', sans-serif;
}

.espaiIconaText{
    margin-right: 15px;
}

.iconPers{
    margin-top: 2px;
}

.iconaArtista{
    width: 1.1em;
}

.active{
    background-color: #053F5C;
}

.textIniciClient{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.8em;
}

.btnAfegirC{
    background-color: #F7AD19;
    border-color: #F7AD19;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.1em !important;
    border-radius: 10px !important;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
    padding-right: 1.2em;
    padding-left: 1.2em;
}

.divPublicitat{
    background-color: #053F5C !important;
    height: 6em;
    border-radius: 10px;
}

.divPublicitat:hover{
    background-color: #053F5C !important;
}

.divTextPubli{
    margin: auto;
    font-family: 'Inter', sans-serif;
}

.divTaulaMusica{
    border-radius: 10px;
    background-color: transparent;
}

.divTaulaMusicaPrin{
    border-radius: 15px;
    border: 1px solid rgba(224, 231, 237, 1);
    background-color: white;
}

.tablaMisCanciones thead{
    font-family: 'Inter', sans-serif;
    background-color: #F7AD19;
    color: white;
}

.tablaMisCanciones thead tr th{
    font-weight: bold;
}

.tablaMisCanciones tbody{
    background-color:#191922;;
}

.tablaMisCanciones tbody tr td{
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 0.9em;
    color: white;
}

.tablaMisCanciones tbody tr td span{
    font-size: 1.8em;
    cursor: pointer;
}

.iconaAccio{
    color: white;
    margin-left: 6px;
}

.menuAccio{
    top: -10px !important;
}

.opcioMenuAccio{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
}

.divCategoria{
    background-color: transparent;
}

.imatgeCategoria{
    border-radius: 10px;
    padding: 3.1rem !important;
    background-size: 101%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.imatgeCategoria:hover{
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}

.cat1{
    background-image: url('../img/categories/categoriaPop.jpg');
}

.cat2{
    background-image: url('../img/categories/categoriaRock.jpg');
}

.cat3{
    background-image: url('../img/categories/categoriaAmbient.jpg');
}

.cat4{
    background-image: url('../img/categories/categoriaMetal.jpg');
}

.cat5{
    background-image: url('../img/categories/categoriaPunk.jpg');
}

.cat6{
    background-image: url('../img/categories/categoriaSoul.jpg');
}

.cat7{
    background-image: url('../img/categories/categoriaJazz.jpg');
}

.cat8{
    background-image: url('../img/categories/categoriaClassica.jpg');
}

.cat9{
    background-image: url('../img/categories/categoriaElectronica.jpg');
}

.cat10{
    background-image: url('../img/categories/categoriaIndie.jpg');
}

.cat11{
    background-image: url('../img/categories/categoriaInfantil.jpg');
}

.cat12{
    background-image: url('../img/categories/categoriaPremium.jpg');
}

.imatgeCategoria h4{
    font-weight: bold !important;
    color: white !important;
    font-family: 'Inter', sans-serif;
    font-size: 1.6em !important;
    text-align: center;
}

.musicaTexts{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.4em;
}

.modificarGridMargin{
    margin-bottom: 1rem !important;
}

.imatgeMusica{
    border-radius: 10px;
    padding: 3.1rem !important;
    background-size: 101%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
}

.imatgeMusica h5{
    font-weight: bold !important;
    color: white !important;
    font-family: 'Inter', sans-serif;
    font-size: 1.6em !important;
    text-align: center;
}

.zonaBotonsMusica{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    
}

.divMedia{
    color: white;
    position: absolute;
    right: 2px;
    bottom: 10px;
}

.zonaBotonsMusica span{
    font-size: 1.8em;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}

.zonaBotonsMusica span:hover{
    transition: all 0.5s;
    color: #053F5C;
}

.iconaExtrMusic{
    margin-left: 8px !important;
}

.imatgeArtista{
    border-radius: 10px;
    margin: auto;
    padding: 0rem !important;
    padding-right: 3.5rem !important;
    padding-left: 3.5rem !important;
    border: 1px solid white;
}

.imatgeArtista img{
    width: auto;
    max-width: 156px;
}

.imatgeArtista h5{
    font-weight: bold !important;
    color: white !important;
    font-family: 'Inter', sans-serif;
    font-size: 1.1em !important;
    position: absolute;
    top: 10px;
    left: 10px;
}

.linkPlaylist{
    text-decoration: none !important;
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover {
    background-color: #0a323f;
    border-radius: 5px;
}

.textPlaylist{
    margin-top: 10px;
    margin-left: 1em;
    color: #429EBD !important;
    font-size: 1.1em !important;
}

.divPlaylist{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.divPlaylist:hover{
    transition: all 0.5s ease-in-out;
    opacity: 0.7;
}

.btnElimP{
    background-color: red;
    border: red;
}

.btnElimP:hover{
    background-color: red;
    color: white;
}

.divCentrarConfig{
    justify-content: center;
    margin-bottom: 30px;
}

.divConfig{
    width: 0px !important;
    min-width: 0px !important;
}

.extraClaseFitxer{
    padding-bottom: 4px !important;
}

.imatgePerfil{
    border-radius: 10px;
    border: 1px solid white;
    margin: auto !important;
    position: relative;
    right: 120px;
}

.imatgePerfil img{
    width: 150px;
}

.contenedor-btn-file input[type="file"] {
    appearance: none;
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
.contenedor-btn-file {
    display: inline-block;
    position: relative;
    background-color: #053F5C;
    color: #fff;
    border: 0;
    padding: 10px 9px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .15);
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    transition: ease-out 120ms background-color;
    margin-right: 54px;
    margin-bottom: 20px;
    font-size: 0.9em;
}
.contenedor-btn-file:hover {
    background-color: #053F5C;
}
.contenedor-btn-file:active {
    background-color: #053F5C;
}

.contenedor-btn-file label {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    cursor: pointer;
}

.contenedor-btn-file.bordeado {
    background-color: #fff;
    border: 2px solid #053F5C;
    color: #429EBD;
}
.contenedor-btn-file.bordeado:hover {
    background-color: #053F5C;
    color: #fff;
}

.btnPujarImg{
    font-size: 1.2em !important;
    display: block;
    position: relative;
    right: 13px;
}

.divCentrarSubscripcio{
    margin-bottom: 5px !important;
}

.imatgeSubscripcio{
    border: none;
}

.imatgeSubscripcio img{
    width: 160px;
}

.divSubscripcio h4{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.3em;
    margin-right: 39px;
}

.footerFix{
    position: absolute;
    bottom: 0px;
    width: 80%;
}

.botonDescarrega{
    margin-left: 11px;
}

.footerAdminUsuaris{
    margin-top: 76px;
}

.divTextPubli span{
    color: #429EBD;
}

.iconaDescarrega{
    margin-left: 10px;
}

.divCatNoR{
    display: block !important;
}

.divCatNoR a{
    text-decoration: none;
}

.modificarTextCanço{
    margin: auto !important;
}

/* AUDIO PLAYER */
.audio-player-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 10px;
    background: #053F5C;
    overflow: hidden;
    box-shadow: 1px 1px 50px -20px black;
    color: #fff;
}

.audio-player-container > .reproductor > * {
    display: inline-block !important;
    color: #fff;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 10px;
}

.audio-player-container > .reproductor {
    display: block !important;
    width: 85%;
    margin: 0 auto;
    height: 40px;
}

.info-canco {
    display: block !important;
    width: 71%;
    margin: 0 auto;
}

.info-canco > * {
    display: inline-block;
    margin-bottom: 0;
}

.info-canco span {
    margin: 0 5px;
}

.info-canco p{
    font-family: 'Inter', sans-serif;
}

.audio-player-container > span, .audio-player-container > button {
  margin: 10px;
}

.play-button {
    position: relative;
    width: 38px;
    height: 40px;
    cursor: pointer;
    transition: border 0.1s ease-in-out;
}
    
.bar {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 3px;
    height: 20px;
    border-radius: 3px;
    background-color: white;
    transform-origin: center;
    transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
}
    
.pause > .bar-1 {
    transform: translateX(13px) translateY(-2px) rotate(0deg);
}

.pause > .bar-2 {
    transform: translateX(21px) translateY(-2px) rotate(0deg);
}
    
.play > .bar-1 {
    transform: translateX(18px) translateY(-6px) rotate(-55deg);
}

.play > .bar-2 {
    transform: translateX(18px) translateY(4px) rotate(-125deg);
}


.mute-button, .like-button, .add-button {
  background: transparent;
  border: none;
  margin-left: 5px !important;
  font-size: 16px;
}

.mute-button > .mute-icon:hover, .like-button > .like-icon:hover, .add-button > .add-icon:hover {
  color: #F7AD19;
}

/* BARRA DURACIÓN / BARRA VOLUMEN */
#seek-slider {
  -webkit-appearance: none;
  width: 64% !important;
  background: #053F5C;
  border-radius: 5px;
}

#volume-slider {
  -webkit-appearance: none;
  background: #053F5C;
  border-radius: 5px;
  width: 14% !important;
}

#seek-slider:focus, #seek-slider-chrome:focus, #volume-slider:focus, #volume-slider-chrome:focus {
  outline: none;
}

#seek-slider-chrome::-webkit-slider-runnable-track, #volume-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  border-radius: 5px;
}

#seek-slider-chrome::-webkit-slider-thumb, #volume-slider-chrome::-webkit-slider-thumb {
  height: 8px;
  width: 0px;
  border-radius: 25px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1.5px;
}

#seek-slider-chrome {
    border: none;
    border-radius: 8px;
    height: 8px;
    width:64%;
    outline: none;
    transition: background 450ms ease-in;
    
    -webkit-appearance: none;
}

#volume-slider-chrome {
    background: linear-gradient(to right, #F7AD19 0%, #F7AD19 50%, #fff 50%, #fff 100%);
    border: none;
    border-radius: 8px;
    height: 8px;
    width: 14%;
    outline: none;
    transition: background 450ms ease-in;
    
    -webkit-appearance: none;
}

#seek-slider::-moz-range-track, #volume-slider::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: #fff;
  border-radius: 5px;
}

#seek-slider::-moz-range-thumb, #volume-slider::-moz-range-thumb {
  border: none;
  height: 8px;
  width: 0px;
  border-radius: 25px;
  background: #F7AD19;
  cursor: pointer;
}

#seek-slider::-moz-range-progress, #volume-slider::-moz-range-progress {
  height: 8px;
  width: 100%;
  background-color: #F7AD19; 
  border-radius: 5px 0 0 5px;
}

#seek-slider::-ms-track, #volume-slider::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#seek-slider::-ms-fill-lower, #volume-slider::-ms-fill-lower {
  background: #F7AD19;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}

#seek-slider::-ms-fill-upper, #volume-slider::-ms-fill-upper {
  background: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}

#seek-slider::-ms-thumb, #volume-slider::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 8px;
  width: 0px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

#seek-slider:focus::-ms-fill-lower, #volume-slider:focus::-ms-fill-lower {
  background: #F7AD19;
}

#seek-slider:focus::-ms-fill-upper, #volume-slider:focus::-ms-fill-upper {
  background: #fff;
}

#current-time, #duration{
    font-family: 'Inter', sans-serif;
    font-size: 0.9em;
}

/* FIN BARRA DURACIÓN / BARRA VOLUMEN */

/* FIN AUDIO PLAYER */

.css_inputsLogReg{
    display: inline-block;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.1em;
    margin-left: 10px;
    position: relative;
    bottom: 6px;
    font-family: 'Inter', sans-serif;
}

.css_inputsLogReg::placeholder{
    color: white;
    font-family: 'Inter', sans-serif;
}

.css_inputsLogReg option{
    color: black;
}

.selectFiltrar{
    font-size: 1.1em;
    border: 1px solid #429EBD;
    width: auto;
}

.btnFiltrarP{
    display: inline-block;
    margin-left: 15px;
    position: relative;
    bottom: 7px;
}

.btnEspaiD{
    margin-right: 20px;
}

/* Modal */

.modalPlaylist{
    background-color: #121216;
    border-color: #121216;
    border-radius: 10px;
}

.tancarModal{
    color: #429EBD !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    font-size: 2em !important;
}

.cosModal{
    padding-bottom: 0px !important;
}

.labelModal{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1.1em !important;
    margin-bottom: 0.8em !important;
}

.selectModal{
    color: #9FE7F5 !important;
    font-family: 'Inter', sans-serif;
    font-size: 1em !important;
    background-color: #191922!important;
    border: none !important;
}

.liniaModal{
    width: 90%;
    background-color: #053F5C;
}

.modalFinal{
    border: none;
}

.btnTancarModal{
    background-color: #053F5C !important;
    border: none !important;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
}

.btnSeleccionarModal{
    background-color: #F7AD19 !important;
    font-family: 'Inter', sans-serif !important;
    border: none !important;
    font-size: 1em !important;
}
