@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@500&family=Poppins&display=swap');

html, body{
    margin: 0em;
    padding: 0em;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #053F5C;
}

/* Web Principal */

.headerPrincipal{
    width: 100%;
    position: fixed;
    z-index: 100;
}

.headerPrincipal nav{
    background-color: #053F5C;
    border: none;
    padding-bottom: 9px;
    box-shadow: 0px 7px 50px rgb(1 0 4 / 25%);
}

.divLogoPrincipal img{
    width: 5.5em;
    margin-top: 13px;
    margin-left: 20px;
}


.menu ul li{
   margin-top: 6px;
}

.menu ul li a{
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    float: right;
}

.menu ul li:hover{
    color: orange;
}

.divBotonsNav{
    display: inline-block;
    margin-left: 20px;
    position: relative;
    left: 21px;   
}

.botonsIR{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    background-color: #F7AD19;
    border-radius: 7px;
    text-decoration: none;
    padding: 0.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}

.botonsIR:hover, .botonsIR:focus{
    text-decoration: none;
    color: white;
}

.estilbtnLogin {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #F7AD19;
    background: #F7AD19;
}

.estilbtnLogin:hover {
    background: #fff;
    color: #F7AD19
}

.btnRegistrat{
    margin-left: 15px;
    background-color: #429EBD;
}

.estilbtnLogin2{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #429EBD;
    background-color: transparent;
}

.estilbtnLogin2:hover {
    background: #429EBD;
    color: #fff;
}

.imatgeFons{
    background-image: url('../img/Principal.png');
    background-size: 100%;
    height: 48.5em;
    background-position-y: -87px;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 70px;
}

.divMain{
    text-align: center;
    margin-top: 200px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.divMain h1{
    font-size: 4.5em;
    color: #9FE7F5;
    font-weight: bold;
}

.divMain h2{
    font-size: 1.8em;
    color: #429EBD;
    font-weight: bold;
}

.btnInici {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 2em;
    margin: 1em 0.8em;
    font-family: 'Inter', sans-serif;

}

.btnInici.btnEscl {
    color: #F7AD19;
}

.btnInici.btnEscl::after,
.btnInici.btnEscl::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.btnInici.btnEscl::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #F7AD19;
    border-right-color: #F7AD19;
}

.btnInici.btnEscl::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #F7AD19;
    border-left-color: #F7AD19;
}

.btnInici.btnEscl:hover:after,
.btnInici.btnEscl:hover:before {
    border-bottom-color: #F7AD19;
    border-right-color: #F7AD19;
    border-top-color: #F7AD19;
    border-left-color: #F7AD19;
    width: 100%;
    height: 100%;
}

.seccioMostra{
    margin-left: 190px; 
   
}

.divMostra{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divMostra h2{
    color: #9FE7F5;
    font-family: 'Inter', sans-serif;
    font-size: 2.8em;
}

.divMostra p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    margin-right: 10px;
}

.seccioPlans{
    margin-top: 150px;
}

.divPlans{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.divPlans h2{
    color: #9FE7F5;
    font-family: 'Inter', sans-serif;
    font-size: 2.8em;
    margin-right: 100px;
}

.divPlans p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    margin-right: 115px;

}

.pla1{
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 1px black;
    height: auto;
    background-color: #dd5105;;
    padding-bottom: 11px;
    color: white;
}

.colPla1{
    background-color: #705DEC;
}

.colPla2{
    background-color: #7e57c0;
}

.textProva{
    background-color: #429EBD;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    margin-left: 10px;
    color: white;
    padding: 0.5em;
    width: 13.5em;
    font-weight: bold;
    position: relative;
    top: 10px;
    margin-bottom: 40px;
}

.textAmplada{
    width: 15em;
}

.pla1 h3{
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    margin-left: 10px;
    margin-top: 25px;
    text-align: center;
}

.textPreu{
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    text-align: center;
}

.pla1 hr{
    align-self: stretch;
    background-color: rgb(187, 183, 183);
    width: 20em;
    text-align: left;
    border: none; 
    height: 0.12em; 
}

.pla1 a{
    text-decoration: none;
}

.divAventatges{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.iconaVentatges{
    font-size: 1.7em;
    margin-top: -0.5px;
}

.divAventatges p{
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    width: 90%;
}

.btnPremium{
    display: block;
    margin: auto;
    padding: 0.5em;
    padding-right: 5em;
    padding-left: 5em;
    border-radius: 45px;
    background-color: #F7AD19;
    margin-top: 50px;
    height: auto;
}

.seccioContacte{
    margin-top: 120px;
}

.divPregunta{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divPregunta h2{
    color: #9FE7F5;
    font-family: 'Inter', sans-serif;
    font-size: 2.8em;
}

.divPregunta p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
}

.divContacte {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #9FE7F5;
    padding-left: 30px;
    float: inherit;
    display: flex;
    font-family: 'Inter', sans-serif;

}

.estilInput input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.estilInput textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    resize: vertical;
}

.estilInput label {
    display: block;
    float: center;
}

.btnFormulari {
    height: 45px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #F7AD19;
    border-color: #F7AD19;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}

.btnFormulari p {
    color: #fff;
    margin-top: 9px;
}

.btnFormulari:hover{
    transition: 1s;
    opacity: 0.8;
}

.estilInput span {
    color: #ab4493;
}

.avis {
    font-size: 13px;
    color: #0e0e0e;
}

.avis span {
    color: #ab4493;    
}

.seccioContacte input:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.seccioContacte textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}

footer{
    text-align: center;
}

.iconesFooter{
    display: inline-block;
    color: #9FE7F5;
    font-size: 2em;
    margin-right: 20px;
    cursor: pointer;
    margin-bottom: 15px;
}

footer span:hover{
    transition: 1s;
    color: #F7AD19;
}

footer p{
    color: white;
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    margin-right: 22px;
}

footer span{
    color: #429EBD;
}


/* Web Login */

.framePrincipal{
    margin: auto;
    width: 36em;
    height: 38em;
    background: rgba(17, 81, 113, 0.78);
    border-radius: 10px;
    margin-top: 70px;
}

.divLogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 20px;
}

.framePrincipal h1{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.frameSecundari{
    margin: auto;
    width: 27em;
    height: 10.2em;
    background: #08577E;
    border-radius: 15px;
    margin-top: 30px;
}

.divUserBorder{
    border-bottom: 2px solid rgba(5, 63, 92, 0.7);
    padding-bottom: 17px;
}

.iconesLoginRegister{
    font-size: 2em;
    color: white;
    margin-left: 25px;
    margin-top: 20px;
    padding-right: 13px;
    border-right: 2px solid rgba(5, 63, 92, 0.5);
}

.amagarLabel{
    display: none;
}

.css_inputsLogReg{
    display: inline-block;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.4em;
    margin-left: 10px;
    position: relative;
    bottom: 6px;
    font-family: 'Inter', sans-serif;
}

.css_inputsLogReg::placeholder{
    color: white;
    font-family: 'Inter', sans-serif;
}

.titolNoCompte{
    color: white;
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
    margin-left: 75px;
}

.titolNoCompte a{
    cursor: pointer;
    text-decoration: none;
    color: #429EBD;
}

.ibtnEnviar{
    background: #F7AD19;
    border-radius: 25px;
    padding: 0.8em;
    padding-right: 7em;
    padding-left: 7em;
    margin: auto;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.4em;
    text-align: center;
    display: block;
    margin-top: 40px;
}

.ibtnEnviar:hover{
    transition: 1s;
    opacity: 0.6;
}

/* Web Register */

.framePrincipal2{
    margin: auto;
    width: 36em;
    height: 48em;
    background: rgba(17, 81, 113, 0.78);
    border-radius: 10px;
    margin-top: 25px;
}

.framePrincipal2 h1{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.frameSecundari2{
    height: 20.5em;
    margin: auto;
    width: 27em;
    background: #08577E;
    border-radius: 15px;
    margin-top: 30px;
}